doctype html
html 
    head
        title= title
    body(style={'background-color':  `${color}`})
    h1= title
    hr
    form(action="/save", method='POST')
        h1='Choose Color'
        select(name="color")        
            option(value="red")='red'
            option(value="blue")='blue'
            option(value="yellow")='yellow'
            option(value="darkgreen")='darkgreen'
            option(value='seagreen')='seagreen'
        button(type='submit')='Submit'