<!DOCTYPE html>
html(lang="en")
    head
        title cars List
    body
        table
            tr
                th Mark
                th Model
                th VIN 
                th govNumber
                th color
            for car in cars
                tr
                    td= car.mark
                    td= car.model
                    td= car.VIN 
                    td= car.govNumber
                    td= car.color